<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="602e95c7-ba4e-47f1-a3f0-05711a4ff3f7" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://cryptosurveystaging.clidiem.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="602e95c7-ba4e-47f1-a3f0-05711a4ff3f7fileName">http%3A%2F%2Fcryptosurveystaging.clidiem.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://cryptosurveystaging.clidiem.com</con:endpoint></con:endpoints></con:interface>